



.features {
  grid-column: col-start 1 / span 6;
  --features-grid-columns: 5;
}

@supports (display: grid) {
  @media (min-width: 700px) {
    .features {
      display: grid;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(var(--features-grid-columns), [col-start] 1fr);
      height: 100vh;
    }
  }
}

@supports (display: grid) {
  @media (min-width: 1100px) {
    .features {
      grid-column-end: 9;
      --features-grid-columns: 7;
    }
  }
}


.features [class*="title"]  {
  grid-column: col-start 2 / span 6;
}
.features [class*="subtitle"] {
  grid-column: col-start 2 / span 5;
}
.features [class*="content"] {
  grid-column: col-start 2 / span 4;
}
.features [class*="list"] {
  grid-column: col-start 2 / span 4;
}
.features [class*="link"]  {
  grid-column: col-start 5 / span 3;
}

.features:nth-of-type(even) [class*="title"]  {
  grid-column-start: col-start 1;
}
.features:nth-of-type(even) [class*="subtitle"]  {
  grid-column-start: col-start 1;
}
.features:nth-of-type(even) [class*="content"]  {
  grid-column-start: col-start 3;
}
.features:nth-of-type(even) [class*="list"]  {
  grid-column-start: col-start 3;
}
.features:nth-of-type(even) [class*="link"]  {
  grid-column-start: col-start 1;
}

.features:nth-of-type(even) {
  grid-column-start: 4;
  grid-row: 2;
  grid-template-areas:
}

@supports (display: grid) {
  @media (min-width: 1100px) {
    .features:nth-of-type(even) {
      grid-column-start: 9;
      grid-column-end: 16;
    }
  }
}

// example styles

html {
  font-family: 'Fira Sans', sans-serif;
}
